- content_for :title do
	Liste des administrateurs


%table#admins
	%thead
		%tr
			%th Nom
			%th Rôles
			%th 
	%tbody
		-@admins.each do |admin|
			%tr
				%td
					= admin.username
				%td
					- unless admin.roles.empty?
						- admin.roles.each do |role|
							= link_to role.name, role
							- unless role == admin.roles.last
								,
					- else
						Aucun rôle
				%td.actions
					= link_to admin_path(admin.id), class:"btn btn-success" do
						%i.icon-eye-open.icon-large
						Voir
					= link_to edit_admin_path(admin.id), class:"btn btn-warning" do
						%i.icon-pencil.icon-large
						Editer
					= link_to admin_path(admin.id), class:"btn btn-danger", :method => :delete, :data => { :confirm =>  ("Êtes vous sûr de vouloir supprimer " + admin.full_name + "? Cette opération est irréversible.") } do
						%i.icon-trash.icon-large
						Supprimer

