%table#switches
  %thead
    %tr
      %th Adresse IP
      %th Nombre de ports
      %th 
        = link_to new_switch_path, class:"btn btn-inverse", "data-toggle" => 'modal', "data-target" => '#modal-window', remote: true do
          %i.icon-plus
          Nouveau switch
  %tbody
    -@switches.each do |switch|
      %tr
        %td
          = switch.ip_admin
        %td
          = switch.occupied_ports_count
          \/
          = switch.ports.count
        %td.actions
          = link_to switch_path(switch), "data-toggle" => 'modal', "data-target" => '#modal-window', class:"btn btn-success", remote: true do
            %i.icon-eye-open.icon-large
            Voir
          = link_to edit_switch_path(switch), "data-toggle" => 'modal', "data-target" => '#modal-window', class:"btn btn-warning", remote: true do
            %i.icon-pencil.icon-large
            Editer
          = link_to switch_path(switch), class:"btn btn-danger remote-delete", :method => :delete do
            %i.icon-trash.icon-large
            Supprimer