.controls.btn-group.activable
	%button.btn#resident-btn{"data-target" => "#if_resident, #computers-form, #payment-form", "data-toggle" => "collapse"}
		Résident
	%button.btn#supelec-btn{"data-target" => "#if_supelec", "data-toggle" => "collapse"}
		Supélec
	%button.btn#rezoman-btn{"data-target" => "#if_supelec", "data-toggle" => "collapse", style: 'display: none'}
		Rezoman

.controls
	.input-append
		= f.input_field :full_name, placeholder: "Nom complet"
		%span.add-on
			%i.icon-user{rel: "tooltip", title: "Nom complet", style: "margin-top: 10px"}


	.input-append
		= f.input_field :email, placeholder: "E-mail"
		%span.add-on
			%i.icon-envelope-alt{rel: "tooltip", title: "E-mail", style: "margin-top: 10px"}

%div{style: 'display: none'}
	= f.input :resident, as: :boolean do
		= f.check_box :resident, {id: "resident-check"}, "true", "false"
	= f.input :supelec, as: :boolean do  
		= f.check_box :supelec, {id: "supelec-check" }, "true", "false" 
	= f.input :rezoman, as: :boolean do
		= f.check_box :rezoman, {id: "rezoman-check" }, "true", "false" 