- if @room.errors.any?
  #error_explanation
    %h2= "#{pluralize(@room.errors.count, "erreur")} ont empéché la chambre d'être sauvegardée :"
    %ul
      - @room.errors.full_messages.each do |msg|
        %li= msg



= f.input :building, :required => true do
  = f.input_field :building, as: :select, class: "label-field short-field", :placeholder => "Fournisseur", collection: @building_list, prompt: "Bâtiment", value: @room.building

= f.input :number, :required => true do
  = f.input_field :number, class: "label-field", :placeholder => "Numéro de la chambre"
