%h1 Editing room


= simple_form_for @room do |f|
    = render partial: "form", locals: {f: f}  
    = f.submit "Modifier", {class: "btn btn-primary btn-large btn-block"}

= link_to 'Show', @room
\|
= link_to 'Back', rooms_path
