- content_for :title do
  Liste des chambres


%table#rooms
  %thead
    %tr
      %th Adresse
      %th Locataire
      %th Connexion
      %th 
        = link_to new_room_path, class:"btn btn-inverse" do
          %i.icon-plus
          Nouvelle chambre
  %tbody
    -@rooms.each do |room|
      %tr
        %td
          = room.full_address
        %td
          - if room.adherent
            = link_to room.adherent.full_name, room.adherent
          - else
            \--
        %td
          - if room.port
            = link_to room.port.switch.ip_admin + ":" + room.port.number, room.port
          - else
            \--
        %td.actions
          = link_to room_path(room.id), class:"btn btn-success" do
            %i.icon-eye-open.icon-large
            Voir
          = link_to edit_room_path(room.id), class:"btn btn-warning" do
            %i.icon-pencil.icon-large
            Editer
          = link_to room_path(room.id), class:"btn btn-danger", :method => :delete, :data => { :confirm =>  ("Êtes vous sûr de vouloir supprimer " + room.full_address + "? Cette opération est irréversible.") } do
            %i.icon-trash.icon-large
            Supprimer

