= form_for @computer_dns_entry do |f|
  - if @computer_dns_entry.errors.any?
    #error_explanation
      %h2= "#{pluralize(@computer_dns_entry.errors.count, "error")} prohibited this computer_dns_entry from being saved:"
      %ul
        - @computer_dns_entry.errors.full_messages.each do |msg|
          %li= msg

  .field
    = f.label :name
    = f.text_field :name
  .field
    = f.label :computer_id
    = f.number_field :computer_id
  .field
    = f.label :archived
    = f.check_box :archived
  .actions
    = f.submit 'Save'
