.field
	= f.label :dns_type
	= f.text_field :dns_type
.field
	= f.label :name
	= f.text_field :name
.field
	= f.label :return
	= f.text_field :return
.field
	= f.label :external
	= f.check_box :external