%header.navbar.navbar-fixed-top.navbar-inverse
	%div.navbar-inner{data: {dropdown: "dropdown"}}

		%a.btn.btn-navbar{ data: { toggle: "collapse", target: ".nav-collapse"}}
			%span.icon-bar
			%span.icon-bar
			%span.icon-bar

		= link_to "Sapphire", root_path, id: "logo"

		.nav-collapse.collapse
			%nav
				%ul.nav.pull-right
					%li.divider-vertical
					%li
						= link_to new_adherent_path,"data-toggle" => 'modal', "data-target" => '#modal-window', remote: true do
							%i.icon-magic.icon-white
							Rezotage

					%li.divider-vertical

					%li.dropdown
						%a.dropdown-toggle{:href => "#"} 
							%i.icon-cog.icon-white  
							Gestion simple
						%ul.dropdown-menu
							%li= link_to "Adhérents", adherents_path
							%li= link_to "Ordinateurs", computers_path
							%li= link_to "Mailings", mailings_path

					%li.divider-vertical

					%li.dropdown
						%a.dropdown-toggle{:href => "#"}
							%i.icon-cogs.icon-white 
							Gestion avancée
						%ul.dropdown-menu
							%li= link_to "Administrateurs", admins_path
							%li.divider
							%li.nav-header Architecture		
							%li= link_to "Chambres", rooms_path
							%li= link_to "Switchs", switches_path
							%li.divider
							%li.nav-header Entrées DNS
							%li= link_to "Ordinateurs", computer_dns_entries_path
							%li= link_to "Autres", generic_dns_entries_path

					%li.divider-vertical

					%li.dropdown
						%a.dropdown-toggle{:href => "#"}
							%i.icon-eur.icon-white 
							Trésorerie
						%ul.dropdown-menu
							%li= link_to "Paiements", payments_path
							%li= link_to "Statistiques", "#"

					%li.divider-vertical

					%li
						= link_to admin_path(current_admin.id),"data-toggle" => 'modal', "data-target" => '#modal-window', remote: true do
							%i.icon-linux.icon-white
							= current_admin.display_name
							
					%li.divider-vertical

					%li
						= link_to deconnexion_path, :method => :delete do
							%i.icon-signout.icon-white
							Déconnexion

					%li.divider-vertical

		%span#title
			= yield :title
	%script $('.dropdown-toggle').dropdown()